div { 
	display:inline-block; 
}

/* viewer is the entire image box containing the slider (selector) and featured image area */
#viewer { 
	width: 63%; /*  % width of the containing block */
	/* max-width: 63%; */ /*  % width of the containing block */
	margin: 20px;    /* space around the outside of the entire image container */
	background-color: #FDF5E6; /* OldLace */
	/* border:10px ridge #E2EAEF;  */
	border:10px ridge grey; 
	float: right;
	text-align: center; /* center the child elements, #selector and #photo */
}

#right, #left {
	width:30px; /* width of the area that the arrow occupies (not the width of the arrow itself) */
	height:100px; 
	float:left; 
	color:white; 
}
#right { 
	float:right; 
}

/* scrolling arrows */
#right img, #left img { 
	margin-top:30px;  /* vertically positions the left and right scrolling arrows */
	width:32px; 
	height:56px; 
}

/* selector is the slider box container */
#selector { 
	 
 	/*  max-width:765px;   */  
 	 max-width:54vw;  
 	/*  float: left; */
 	/* width: auto; */
	/*  width:100%; */
	height:140px; 
	overflow-x:hidden; 
	overflow-y:hidden; 
  	background-color:#DDDDDD; 
  	border:3px ridge grey; /* border around the slider */
  	margin:auto;  /* center this child element inside of parent element, #viewer */
  	margin-top:10px;
 }
 
/* container around ALL of the images in the slider, including those off of the screen */
#imageSlide { 
	/*  margin-top: 50px; */ /* adds to space between inside top of slider and top of photos being slid */
		/*  border-top: 100px; */ /* doesn't seem to do anything */
		/*  padding-top: 50px; */  /* also adds to space between inside top of slider and top of photos being slid */
	position:relative;  /* this allows the images to scroll horizontally when arrows are used */
	top:0px; 
	left: 0px; 
	height:100px; 
}

#imageSlide img { 
 	height:100%; 
  	opacity:.7; 
  	vertical-align:top;  /* doesn't seem to do anything */
  	float: left; /* floats the images in the slider to the left to begin with */
  	margin-top:12px; /* the space over the images within the slider */
  	/* margin-bottom:2px; */ /* the space under the images within the slider */
  	margin-left:5px;  /* the space to the left of images within the slider */
  	margin-right:5px;  /* the space to the right of images within the slider */
  	border:3px ridge grey; /* border around each of the images */
  	box-shadow: 5px 5px 5px #888888; 
 }
 
 /* featured photo */
#photo {
  	padding: 10px; /* space around the featured photo and the bottom of the slider and the inside of the viewer container */
  	vertical-align: top; 
  	margin:auto; /* center this child element inside of parent element, #viewer */
}

#photo img { 
/* 	width:100%;  */
	border:5px ridge grey; 
	box-shadow: 10px 10px 5px darkgrey; 
}
	
/*added*/
html, body {
 	font-family: Arial, sans-serif;
	font-size: 90%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0; 
	background-color: #D3D3D3; /* light grey */
}

/* Welcome to... box */
.tempWelcome {
	width: 30%; /*  % width of the containing block */
	height: 650px;  /* height of the welcome box is hard coded here...TODO change to adjust with photo viewer height */
	margin: 2em auto;
	margin-left: 40px;
	padding: 10px 30px;
	background-color: #FDF5E6 /* OldLace */
}

.tempWelcome h1 {
	margin: 0;
	color: #555; /* dark grey */
}

.tempWelcome p {
	font-family: Papyrus, fantasy;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

.thistledownWelcome {
	width: 90%; /*  % width of the containing block */
	height: 250px;  /* height of the welcome box is hard coded here...TODO change to adjust with photo viewer height */
	margin: 2em auto;
	margin-left: 40px;
	padding: 10px 30px;
	background-color: #FDF5E6 /* OldLace */
}

.thistledownWelcome h1 {
	margin: 0;
	color: #555; /* dark grey */
}

.thistledownWelcome p {
	font-family: Papyrus, fantasy;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

#testFooter {
	clear: both;
	text-align: center;
	border-bottom: 1px solid #E2EAEF; /* light blue */
	border-top: 1px solid #E2EAEF; /* light blue */
	background-color: #f3f6f8;
	width: 100%;
}

/* wrapper containing welcome box and viewer box */
#welcomeAndViewerWrapper {
	margin: 0 auto;
	width: 80%; /* width % of the containing block */
/* 	height: 160px;  */
	float: left;
	border: 1px solid #B0C4DE;
	padding-left: 5px;
	padding-right: 3px;
}

#tempHeading {
	height: 100px;
	/* background-image: url(/images/bearBanner.jpg); */
	background-repeat: no-repeat;
	background-position: top right;
	border-bottom: 1px solid #E2EAEF; /* light blue */
	background-image: url(bearBanner.jpg);
	width: 100%;
}

#tempHeading h1 {
	padding: 30px;
	font-family: Papyrus, fantasy;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

#thistledownHeading {
	height: 100px;
	/* background-image: url(/images/thistledownBanner.png); */
	background-repeat: no-repeat;
	background-position: top right;
	border-bottom: 1px solid #E2EAEF; /* light blue */
	background-image: url(thistledownBanner.png);
	width: 100%;
}

#thistledownHeading h1 {
	padding: 30px;
	font-family: Papyrus, fantasy;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

