/* The background, everything surrounding the header image, welcome box, and the resources */
html, body {
	font-family: Arial, sans-serif;
	font-size: 90%;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #D3D3D3; /* light grey */
}

a {
	color: #006699; /* blue; */
	text-decoration: none;
}

a:link {
	color: #006699; /* blue; */
	text-decoration: none;
}

a:visited {
	color: #006699; /* blue; */
	text-decoration: none;
}

a:hover {
	color: #006699; /* blue; */
	text-decoration: underline;
}

/* Text: "The Distillery" */
h1 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 120%;
	color: #334d55; /* black-ish */
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

/*does nothing?*/
h2 {
	font-family: Arial, sans-serif;
	font-size: 120%;
	color: #334d55; /* black-ish */
	margin: 0px;
	padding: 0px;
}

/*does nothing?*/
h3 {
	font-family: Arial, sans-serif;
	font-size: 110%;
	color: #334d55; /* black-ish */
	margin: 0px;
	padding: 0px;
}

/* Things to take into your day*/
h4 {
	font-family: Arial, sans-serif;
	font-size: 100%;
	color: #334d55; /* black-ish */
	margin: 0px;
	padding: 0px;
}

#header {
	height: 150px;
	background-image: url(/images/banner.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	border-bottom: 1px solid #E2EAEF; /* light blue */
	background-image: url(banner.jpg);
	width: 100%;
}

/* rectangle containing the resources; the padding is around the repeating boxes*/
#main {
	padding: 30px;
	border-top: 1px solid #E2EAEF; /* light blue */
	border-left: 1px solid #E2EAEF; /* light blue */
	background-color: #FDF5E6; /* OldLace */
	width: 800px;
	min-height: 275px;
	margin: 0.5em auto;
}

/* wrapper around each resource including icon*/
#resourceWrapper {
	border: 1px solid #483D8B; /* cornflower blue */
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 3px;
}

/* centermost part of essay display */
#essayWrapper, #featureWrapper, #resourceOverviewWrapper {
	border: 1px solid #B0C4DE;
	padding: 30px; /*does nothing?*/
	min-height: 175px;
}

#featureFullWrapper, #essayFullWrapper{
	border: 1px solid #B0C4DE;
	padding: 30px; /*does nothing?*/
	min-height: 1175px;	
}

#featureFullDescBox, #essayFullDescBox {
	width: 80%;
	height: 160px;
	float: left;
	border: 1px solid #B0C4DE;
	padding-left: 5px;
	padding-right: 3px;
	min-height: 1175px;
}

/* wrapper around title, resourceType, and text */
#essayDescBox, #featureDescBox, #resourceOverviewDescBox {
	width: 80%;
	height: 160px;
	float: left;
	border: 1px solid #B0C4DE;
	padding-left: 5px;
	padding-right: 3px;
	min-height: 175px;
}

/* wrapper around title, resourceType, and text */
#descBox {
	width: 80%;
	height: 160px;
	float: left;
	border: 1px solid #B0C4DE;
	padding-left: 5px;
	padding-right: 3px;
}

#logoBox {
	width: 17%;
	height: 160px;
	float: right;
	border: 1px solid #B0C4DE; /* grey blue */
	padding: 3px;
}

#essayTopWrapper {
	padding-top: 10px;
}

/* wrapper around title and resource type */
#toplineWrapper {
	padding-top: 6px;
}

#title {
	font-size: 1.5em;
	font-weight: bold;
	font-family: "Times New Roman", Georgia, Serif;
	float: left;
	width: 80%;
	line-height: 1.0;
}

#subtitle {
	float: left;
}

#footer {
	clear: both;
	text-align: center;
	border-bottom: 1px solid #E2EAEF; /* light blue */
	border-top: 1px solid #E2EAEF; /* light blue */
	background-color: #f3f6f8;
	width: 100%;
	margin: 2em auto;
	padding: 10px 30px;
	background-color: #FDF5E6 /* OldLace */
}

.button {
	width: 75px;
	padding: 5px;
	border-radius: 12px;
	background-color: #E2EAEF;  /* light blue */
	border: 1px solid #666; 
	color: black;
	text-decoration: none;
	float: right;
	text-align: center;
}

#featuredEssayText {
	padding-top: 5px;
}

/* banner between header and resource listing */
.welcome, .resourceOverview {
	width: 800px;
	margin: 2em auto;
	padding: 10px 30px;
	background-color: #FDF5E6 /* OldLace */
}

.welcome h1, .resourceOverview h1 /* "Latest News */ {
	margin: 0;
	color: #555; /* dark grey */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*space between greeting and imageSlider */
/*unused?*/
#tempSpacer {
	width: 500px;
}